*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    justify-content: center;
    font-family: 'minecraft';
}

.logo{
    width: 200px;
    height: 40px;
}

body{
    background-image: url("/images/bricks.png");
    background-size: 70px;
    background-blend-mode: multiply;
    image-rendering: pixelated;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url("/images/obsidian.png");
    background-size: 70px;
    background-blend-mode: multiply;
    image-rendering: pixelated;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px ;
    
}

.main-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 1.5em 'minecraft';

    display: flex;
    flex-direction: row;
    
}

.main-nav a {
    padding: 0.5em 1em;
    display: block;
    color: white;
    font: 1.0em 'minecraft';
}

.Video-Container{
    display: block;
    justify-content: center;
}

.Video-Container iframe{
    border: 6px solid black;
    border-radius: 10px;
    margin: 30px;

}
